canvas {
    border:2px solid black;
}

body {
    width:65%;
    margin-left: auto;
    margin-right:auto;    
}

.formContainer {
    display:inline-block;
    vertical-align: top;
    margin-left:15px;
}

.widget {
    margin-top:10px;
    margin-bottom:10px;
}

.widget label {
    display:block;
    margin-bottom:5px;
}

#queryForm {
    border:1px outset gray;
    padding:15px;
}

.widget select, .widget input {
    width:100%;
}
